body,
h1,
h3,
h4 {
  font-family: "Bungee Shade", "Press Start 2P", Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: rgb(88, 77, 119);
}

p,
h6 {
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.tbl-dash {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  margin: 0 20px;
  content: "";
  height: 2px;
  width: 100px;
  background: -webkit-linear-gradient(
    to right,
    #d367c1 10%,
    #dedf40 25%,
    #62cb5c 50%,
    #00bbcb 75%,
    #ab79d6 90%
  );
  background: linear-gradient(
    to right,
    #d367c1 10%,
    #dedf40 25%,
    #62cb5c 50%,
    #00bbcb 75%,
    #ab79d6 90%
  );
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-style {
  width: 120px;
  height: 60px;
  margin: 20px;
  padding: 50px;
  color: white !important;
  border: 1px solid rgb(247, 202, 202) !important;
  color: white;
  border-radius: 50%;
  background: -webkit-linear-gradient(
    to right,
    #ffa2b9 10%,
    #e7e7a6 25%,
    #a5eba2 50%,
    #9de1e7 75%,
    #c593f1 90%
  );
  background: linear-gradient(
    to right,
    #ffa2b9 10%,
    #e7e7a6 25%,
    #a5eba2 50%,
    #9de1e7 75%,
    #c593f1 90%
  );
}

.btn-style:hover {
  color: rgb(86, 92, 128) !important;
  background: -webkit-linear-gradient(
    to right,
    #fc7889 10%,
    #ffff7b 25%,
    #7bffd7 50%,
    #75dfff 75%,
    #956fff 90%
  );
  background: linear-gradient(
    to right,
    #fc7889 10%,
    #ffff7b 25%,
    #7bffd7 50%,
    #75dfff 75%,
    #956fff 90%
  );
}

.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  width: 600px;
}

.scoreTitle {
  flex: 1 0 100%;
  justify-items: center;
  margin: 0 auto -15px;
}

h4,
h6 {
  width: 250px;
  height: 50px;
}

.score {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  flex: 1 auto 100%;
  margin-bottom: 20px;
}

.playerScoreCount,
.computerScoreCount {
  border: 1px solid rgb(255, 230, 234);
}

/*
.rock-img:hover {
  content: "Punk Rock";
  font-size: 0px;
  width: 100px;
  height: 130px;
  color: rgb(255, 255, 255);
  background-image: url(/images/punk-rock.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.paper-img:hover {
  content: "Punk Rock";
  font-size: 0px;
  width: 100px;
  height: 130px;
  color: rgb(255, 255, 255);
  background-image: url(/images/toiletpaper.jpg);
  background: -webkit-linear-gradient(
    to right,
    #fc7889 10%,
    #ffff7b 25%,
    #7bffd7 50%,
    #75dfff 75%,
    #956fff 90%
  );
  background: linear-gradient(
    to right,
    #fc7889 10%,
    #ffff7b 25%,
    #7bffd7 50%,
    #75dfff 75%,
  );
  background-image: url(/images/toiletpaper.jpg);
  background-repeat: no-repeat;
  background-size: 100% 110%;
}

.scissors-img:hover {
  content: "Punk Rock";
  font-size: 0px;
  width: 100px;
  height: 130px;
  color: rgb(255, 255, 255);
  background-image: url(/images/edward-scissors-hands-fat.jpg);
  background: -webkit-linear-gradient(
    to right,
    #fc7889 10%,
    #ffff7b 25%,
    #7bffd7 50%,
    #75dfff 75%,
    #956fff 90%
  );
  background: linear-gradient(
    to right,
    #fc7889 10%,
    #ffff7b 25%,
    #7bffd7 50%,
    #75dfff 75%,
    #956fff 90%
  );
  background-image: url(/images/edward-scissors-hands-fat.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
}
*/
